*{
  padding: 0;
  margin: 0;
}
.header{
  height: 10vh;
  background-color: black;
  color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header > h3{
  margin-left: 20px;
}
.header > button{
  padding: 5px;
  margin-right: 20px;
}

.addBtn{
  margin: 10px 0px 10px 20px;
  padding: 5px;
}


.footer{
  height: 10vh;
  background-color: black;
  color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
}




.content{
  min-height: 80vh;
}

.input{
  display: flex;
  flex-direction: column;
  margin: 40px 40px 0px 40px;
  padding: 20px;
}

.input >input{
  margin: 5px 0 5px 0;
}

